@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Julius+Sans+One&family=Raleway:wght@400;500;600&display=swap');

/*-------------------------------------------------General*/

/*Stops website scrolling left and right on mobile:*/
html,
body {
    overflow-x: hidden; 
    width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 30px 45px 20px 45px;
}

.flashed-messsages {
    line-height: 2;
    color: snow;
    font-size: 1.4rem;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/*-------------------------------------------------Headings*/

.grad-wrapper {
    width: 100%;
	height: 100vh;
}

.brand-logo {
    position: relative;
}

h1 {
    font-size: 2.75rem;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0.8rem 0 1.68rem 0;
    background: linear-gradient(to right, #F9A42C 0%, #EF324F 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2.5rem;
    color: #F68931;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin: 0.3rem 0 1.1rem 0;
}

h4 {
    font-size: 1rem;
    color: #2b2b2b;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-top: 0.2rem;
}

#search {
    color: #fff;
    margin-top: 20px;
}

/*-------------------------------------------------Navigation*/

.nav-bar-grey{
    background-color: #071E26;
    min-height: 90px;
}

/*-------------------------------------------------Colours*/

.maroon {
    color: #B61753;
}

.white-text {
    color: #fff;
}

/*-------------------------------------------------Buttons*/

.btn-large:hover {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.btn-large:focus {
    box-shadow: none;
}

.btn, .btn-large, .btn-small, .btn-large:hover, .btn-small:hover  {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.maroon-button {
    background-color: #B61753;
    color: #fff;
    border-radius: 3px;
}

.maroon-button:hover {
    background-color: #EF324F;
    color: #fff;
}

.orange-button {
    background-color: #F05A24;
    color: #fff;
    border-radius: 3px;
}

.orange-button:hover {
    background-color: #F68931;
    color: #fff;
}

.maroon-outline-button {
    background-color: #fff;
    border: 2px solid #B61753;
    color:  #B61753;
    border-radius: 3px;
    font-weight: 600; 
}

.maroon-outline-button:hover {
    background-color: #B61753;
    color: #fff;
    border-radius: 3px;
}

/*-------------------------------------------------Containers*/

.container-img {
    background-color: #071E26;
    background-image: url('/static/images/present.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -6px
}


.gradient-block {
    background-image: linear-gradient(to bottom right, #F9A42C, #F05A24, #B61753);
}

/*-------------------------------------------------Cards*/

.hint-text {
    font-size: 0.8rem;
}

.hint-text {
    color: #4c4b4b;
    font-size: 0.8rem;
    padding-left: 45px;
}

.col.trad-card {
    margin: .5rem 1rem 1rem 0;
    padding: 0px;
}

.card.col.m4.trad-card {
    width: 31.3333333333%;
}

.card-content {
    background-color: snow;
}

.card-title {
    font-weight: 400;
    margin-bottom: 1.1rem;
}

.card-icon {
    margin-right: 10px;  
    font-size: 1.4rem;
}

.row.card-actions {
    margin: 1rem 0 1rem 0;
}

.row.card-ud-actions {
    margin: 1.3rem 0 1.1rem 0;
}

.card.col.m4.trad-card {
    width: 31.3333333333%;
}

@media only screen and (max-width: 1023px) {
    .card.col.m4.trad-card {
    width: 100%;
    }
    .nav-bar-grey{
        min-height: 190px;
}
    nav.brand-logo{
    left: 30%;
    }
}

/*-------------------------------------------------Icons*/

.prefix.active.maroon {
    color: #F05A24;
}

/*-------------------------------------------------Forms*/

.form-row {
    background-color: rgb(0 0 0 / 56%);
    padding: 20px;
}

.select-wrapper>.caret {
    fill: #b61753;
    height: 35px;
}

input, textarea {
    color: #fff;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: #F05A24;
    box-shadow: 0 2px 0 0 #F05A24;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #F05A24;
}

.dropdown-content li>span {
    color: #F05A24;
}
