@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Julius+Sans+One&family=Raleway:wght@400;500;600&display=swap');

/*-------------------------------------------------General*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Stops website scrolling left and right on mobile:*/
html,
body {
    overflow-x: hidden; 
    width: 100%;
}

body {
    background-color: #071E26;
    /*image from https://www.toptal.com/*/
    background-image: url('/static/images/blackmamba.png');
    background-repeat: repeat;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.flashed-messsages {
    line-height: 2;
    color: snow;
    font-size: 1.4rem;
}

.feature-image img{
   width: 100%;
}

@media only screen and (max-width: 991px){

    .feature-image {
        display: none;
    }
}

/*-------------------------------------------------Headings*/

.brand-logo {
    position: relative;
}

h1 {
    font-size: 2.75rem;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0.8rem 0 1.68rem 0;
    background: linear-gradient(to right, #F9A42C 0%, #EF324F 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F68931;
}

h2 {
    font-size: 2.5rem;
    color: #F68931;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.add-trads-header {
    margin: 0.3733333333rem 0 1.424rem 0;
}

h3 {
    font-size: 1.5rem;
    color: snow;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin: 0.3rem 0 1.1rem 0;
}

h4 {
    font-size: 1rem;
    color: snow;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-top: 0.2rem;
}

h5 {
    font-size: 0.8rem;
    color: snow;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-top: 0.2rem;
}

#search {
    color: #fff;
    margin-top: 20px;
}

.subtitle {
    font-size: 1.2rem;
}

/*-------------------------------------------------Navigation*/

.nav-bar-grey{
    background-color: rgb(0 0 0 / 35%);
    min-height: 130px;
}

nav {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 30px 45px 20px 45px;
}

.nav-items-desktop a {
    font-size: 1.1rem;
    color: #F9A42C;
    padding: 7.5px 0px 0 15px;
    font-weight: 400;
}

#mobile-demo {
    background-color: #28282d;
}

.sidenav li>a {
    color: #F9A42C;
}

@media only screen and (max-width: 769px) {
    .nav-bar-grey{
        min-height: 190px;
    }
    nav.brand-logo{
    left: 30%;
    }
}

@media only screen and (max-width: 1296px) {
    h1 {
       font-size: 2.5rem
    }

    .nav-items-desktop {
    top: 30px;
    position: relative;
    }
}

/*-------------------------------------------------Colours*/

.maroon {
    color: #B61753;
}

.white-text {
    color: #fff;
}

/*-------------------------------------------------Buttons*/

.btn-large:hover {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.btn-large:focus {
    box-shadow: none;
}

.btn, .btn-large, .btn-small, .btn-large:hover, .btn-small:hover  {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.maroon-button {
    background-color: #B61753;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
}

@media only screen and (max-width: 769px) {
    .maroon-button {
        margin-bottom: 10px;
    }
}

.maroon-button:hover, .maroon-button:focus, .maroon-button:active {
    background-color: #8a113f;
    color: #fff;
}

.save-button {
    margin-left: 45px;
    margin-right: 15px;
}

.orange-button {
    background-color: #F05A24;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
}

.orange-button:hover {
    background-color: #F68931;
    color: #fff;
}

.maroon-outline-button {
    background-color: #fff;
    border: 2px solid #B61753;
    color:  #B61753;
    border-radius: 3px;
    font-weight: 600; 
}

.maroon-outline-button:hover {
    background-color: #B61753;
    color: #fff;
    border-radius: 3px;
}

/*-------------------------------------------------Containers*/

.main-container {
    padding-top: 20px;
}

.gradient-block {
    background-image: linear-gradient(to bottom right, #F9A42C, #F05A24, #B61753);
}

/*-------------------------------------------------Cards*/

.card-row {
    margin-bottom: 0px;
}

.card {
    background-color: rgb(4 4 4 / 73%);
    border-right: #b61753 5px solid;
    border-radius: 2px;
}

.card .card-image img {
    width: auto;
}

.card-image {
    height: 200px;
}

.card .card-content {
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.hint-text {
    color:#28282d;
    font-size: 0.9rem;
    padding-left: 45px;
}

.col.trad-card {
    margin: .5rem 1rem 1.5rem 0;
    padding: 0px;
}

.card.col.m4.trad-card {
    width: 31.3333333333%;
}

.card-title {
    font-weight: 400;
    margin-bottom: 1.1rem;
}

.card-icon {
    margin-right: 10px;  
    font-size: 1.4rem;
}

/*
.card-panel {
    background-color: #000;
    padding: 35px;
}
*/
.card-actions {
    margin-top: 0.9rem;
}

.row.card-ud-actions {
    margin: 1.3rem 0 1.1rem 0;
}

.card.col.m4.trad-card {
    width: 31.3333333333%;
}

.read-more-link a {
    color: snow;
    text-decoration: underline;
}

.card .card-reveal {
    background-color: #000;
}

.card-title {
    color: snow;
}

.card-description {
    color: snow;
}

@media only screen and (max-width: 769px) {
    .card.col.m4.trad-card {
        width: 100%;
    }

    .card {
        border-bottom: #b61753 5px solid;
        border-right: none;
    }

    .read-more-link {
        margin-bottom: 15px;
    }
}

/*-------------------------------------------------Icons*/

.prefix.active.orange-icon {
    color: #b61753;
}

.orange-icon {
    color: #F68931;
}

/*-------------------------------------------------Forms*/

.overlay-row {
    background-color: rgb(0 0 0 / 35%);
    padding: 20px;
}

.select-wrapper>.caret {
    fill: #b61753;
    height: 35px;
}

input, textarea {
    color: #fff;
}

#username, #password {
    color: #000;
}

#tradition-description {
    height: auto;
    overflow-y: scroll;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: #F05A24;
    box-shadow: 0 2px 0 0 #F05A24;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #f9a42c;
}

.dropdown-content li>span {
    color: #f9a42c;
}

.image-upload-field {
    top: 10px;
    position: relative;
    margin-bottom: 20px;
}

.image-upload-label {
    margin-left: 45px;
    font-size: 1rem;
}

.add-trad-button-col {
    margin-top: 35px;
}

#group_name.validate, #category_name.validate, #country_name.validate, #country.validate, #category.validate, #group.validate {
    border: 1px solid #000000;
    background-color: #000;
}

.select-dropdown.dropdown-content li.selected, .dropdown-content {
        background-color: #0c0c0c;
}

.select-dropdown li.disabled>span {
    color: #fafafa;
}

.dropdown-content .select-dropdown {
    width: 100%;
}

/*-------------------------------------------------Accordions*/
/* not used at the moment
.accordion-row {
    top: 30px;
    position: relative;
}*/

.collapsible {
    border: none;
}

.collapsible-header{
    background-color: rgb(0 0 0 / 0%);
}

.collapsible-header>p {
    color: snow;
}