{% extends "base.html" %}
{% block content %}

<h2>Add your traditions</h2>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-heading prefix maroon"></i>
                <input id="tradition_name" name="tradition_name" type="text" class="validate">
                <label for="tradition_name">Give your tradition a name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-stream prefix maroon"></i>
                <select id="category_name" name="category_name
">
                    <option value="" disabled selected>Pick a category</option>
                    <option value="Birthdays">Birthdays</option>
                    <option value="Holidays">Holidays (Christmas etc)</option>
                    <option value="Marriage">Marriage</option>
                    <option value="Pregnancy_and_birth">Pregnancy and birth</option>
                    <option value="Religious_observance">Religious observance</option>
                    <option value="Rites_of_passage">Rites of passage</option>
                    <option value="Other">Other</option>
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-search-location prefix maroon"></i>
                <input type="text" id="country-autocomplete" name="country_autocomplete" class="autocomplete">
                <label for="country_autocomplete">Choose your country</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-list prefix maroon"></i>
                <input id="keywords" name="keywords" type="text" class="validate">
                <label for="keywords">Add keywords, separated by commas</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-comment-dots prefix maroon"></i>
                <textarea id="tradition_description" name="tradition_description" class="materialize-textarea"></textarea>
                <label for="tradition_description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix maroon"></i>
                <textarea id="file-upload" class="materialize-textarea"></textarea>
                <label for="file-upload">Upload an image here</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}