{% extends "base.html" %}
{% block navAddTradition %}active{% endblock %}
{% block introAndSearch %}
{% endblock %}
{% block content %}

<h2>Add your traditions</h2>
<!--Form-->
<div class="row">
    <form class="col s12" method="POST" enctype="multipart/form-data" action="{{ url_for('add_tradition') }}">
        <!--Tradition name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-heading prefix orange-icon"></i>
                <input id="tradition_name" name="tradition_name" minlength="3" maxlength="50" type="text"
                    class="validate" required>
                <label for="tradition_name">Give your tradition a name</label>
            </div>
        </div>
        <!--Category-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix orange-icon"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Pick a category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!--Group-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-users prefix orange-icon"></i>
                <select id="group_name" name="group_name" class="validate" required>
                    <option value="" disabled selected>Who does this?</option>
                    {% for group in groups %}
                    <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                    {% endfor %}
                </select>
                <label for="group_name">Group</label>
            </div>
        </div>
        <!--Country-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-globe-africa prefix orange-icon"></i>
                <select id="country_name" name="country_name" class="validate" required>
                    <option value="" disabled selected>Which country are you in?</option>
                    {% for country in countries %}
                    <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                    {% endfor %}
                </select>
                <label for="country">Choose your country</label>
            </div>
        </div>
        <!--Description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-comment-dots prefix orange-icon"></i>
                <textarea id="tradition_description" name="tradition_description" minlength="10" maxlength="350"
                    class="materialize-textarea validate add-trad-text-area" required></textarea>
                <label for="tradition_description">Describe your tradition</label>
            </div>
        </div>
        <!--Upload image-->
        <div class="row">
            <div class="col s12">
                <label for="trad_image" class="image-upload-label">Upload an image for your tradition</label>
            </div>
            <div class="input-field col s12">
                <i class="fas fa-image prefix orange-icon"></i> <input type="file" name="trad_image" id="trad_image"
                    accept=".jpg, .jpeg, .png, .gif" class="validate image-upload-field" required>
            </div>
        </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center">
                <button type="submit" class="btn-large maroon-button">Add tradition <i
                        class="fas fa-plus-circle right"></i></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block traditions %}
{% endblock %}