<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Our Traditions</title>
</head>

<body>
    <header>
        <!--top navbar-->
        <nav class="nav-extended nav-bar-grey">
            <div class="nav-wrapper grad-wrapper container">
                <div class="col m6"></div>
                <a href="{{ url_for('get_traditions') }}" class="brand-logo">
                    <h1>Our Shared Traditions</h1>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down nav-items-desktop">
                    <li class="{% block navBrowse %}{% endblock %}">
                        <a href="{{ url_for('get_traditions') }}">Browse</a>
                    </li>
                    {% if session.user %}
                    <li class="{% block navProfile %}{% endblock %}">
                        <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                    </li>
                    <li class="{% block navAddTradition %}{% endblock %}"><a href="{{ url_for('add_tradition') }}">Add tradition</a></li>
                    <li class="{% block navLogout %}{% endblock %}"><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li class="{% block navClass %}{% endblock %}">
                        {% else %}
                    <li class="{% block navRegister%}{% endblock %}"><a href="{{ url_for('register') }}">Register</a></li>
                    <li class="{% block navLogin %}{% endblock %}"><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--mobile sidenav-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_traditions') }}">Browse</a></li>
            {% if session.user %}
            <li>
                <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
            </li>
            <li><a href="{{ url_for('add_tradition') }}">Add tradition</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li>
                {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </header>
    <main class="main-container container">
        <section>
            <!--flashed messages-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="row">
                <p class="center-align flashed-messsages">
                    {{ message }}
                </p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </section>
        <div class="row overlay-row">
            {% block introAndSearch %}
            <!--Intro section-->
<div class="row overview-row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <h2>Browse & share</h2>
                <p class="white-text subtitle">What traditions do you share with other people and what traditions are
                    unique to your family, friends or culture? Take a look below at the traditions other people follow and register or login to share your own.</p>
            </div>
        </div>
        <!--Search accordions-->
        <div class="row">
            <div class="col s12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="fas fa-stream prefix orange-icon"></i>
                            <p>Search by keyword</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <form action="{{ url_for('search') }}" method="post">
                                    <div class="col s12 m8">
                                        <input type="text" id="keywords" name="keywords" placeholder="Keywords"
                                            minlength="3" required>
                                    </div>
                                    <div class="col s12 m4 right">
                                        <button type="submit" class="maroon-button btn-small right">
                                            <i class="fas fa-search left"></i> Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fas fa-globe-africa prefix orange-icon"></i>
                            <p>Search by country</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <form action="{{ url_for('search_country') }}" method="post">
                                    <div class="col s12 m8">
                                        <select id="country" name="country" class="validate" required>
                                            <option value="" disabled selected>Select country</option>
                                            {% for country in countries_list %}
                                            <option value="{{ country }}">{{ country }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col s12 m4 right">
                                        <button type="submit" class="maroon-button btn-small right">
                                            <i class="fas fa-search left"></i> Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fas fa-folder-open prefix orange-icon"></i>
                            <p>Search by category</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <form action="{{ url_for('search_category') }}" method="post">
                                    <div class="col s12 m8">
                                        <select id="category" name="category" class="validate" required>
                                            <option value="" disabled selected>Select category</option>
                                            {% for category in categories_list %}
                                            <option value="{{ category }}">{{ category }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col s12 m4 right">
                                        <button type="submit" class="maroon-button btn-small right">
                                            <i class="fas fa-search left"></i> Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="fas fa-users prefix orange-icon"></i>
                            <p>Search by group</p>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <form action="{{ url_for('search_group') }}" method="post">
                                    <div class="col s12 m8">
                                        <select id="group" name="group" class="validate" required>
                                            <option value="" disabled selected>Select group</option>
                                            {% for group in groups_list %}
                                            <option value="{{ group }}">{{ group }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col s12 m4 right">
                                        <button type="submit" class="maroon-button btn-small right">
                                            <i class="fas fa-search left"></i> Search
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Reset button-->
            <div class="col s12 add-trad-button-col center">
                <a href="{{ url_for('get_traditions') }}" class="orange-button btn-small"><i class="fas fa-redo left"></i> Reset</a>
            </div>
        </div>
    </div>
</div>
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block traditions %}
             <!--Tradition cards-->
        {% if traditions|length > 0 %}
            {% for tradition in traditions %}
            <div class="card col s12 trad-card">
                <div class="row card-row">
                    <div class="col s12 m4">
                        <div class="card-image-col waves-effect waves-block waves-light">
                            <img class="card-img activator" src="{{ tradition.trad_image }}"
                                alt="{{ tradition.tradition_name }}">
                        </div>
                    </div>
                    <div class="col s12 m8">
                        <div class="card-content row">
                            <div class="col s12">
                                <h3>{{ tradition.tradition_name[0]|upper}}{{tradition.tradition_name[1:] }}
                                </h3>
                            </div>
                            <div class="col s12 m4 card-actions">
                                <h4><i
                                        class="fas fa-globe-africa prefix orange-icon card-icon"></i>{{ tradition.country_name.capitalize() }}
                                </h4>
                            </div>
                            <div class="col s12 m4 card-actions">
                                <h4>
                                    <i
                                        class="fas fa-folder-open prefix orange-icon card-icon"></i>{{ tradition.category_name.capitalize() }}
                                </h4>
                            </div>
                            <div class="col s12 m4 card-actions">
                                <h4>
                                    <i
                                        class="fas fa-users prefix orange-icon card-icon"></i>{{ tradition.group_name.capitalize() }}
                                </h4>
                            </div>
                            <div class="col s12 m4 card-actions read-more-link">
                                <p><a class="card-details activator">Read more ></a>
                                </p>
                            </div>
                            <!--Edit and delete buttons, if tradition belongs to user-->
                            {% if session.user|lower == tradition.created_by|lower %}
                            <div class="col s12 m4 card-actions">
                                <a href="{{ url_for('edit_tradition', tradition_id=tradition._id) }}"
                                    class="waves-effect btn-small maroon-button"><i
                                        class="fas fa-pencil-alt right"></i>Edit</a>
                            </div>
                            <div class="col s12 m4 card-actions">
                                <a href="#modal1" class="waves-effect btn-small orange-button left modal-trigger"><i
                                        class="fas fa-trash-alt left"></i>Delete</a>
                            </div>
                            {% else %}
                            <!--If tradition does not belong to user-->
                            <div class="col s12 m8 card-actions">
                                <h4 class="left"><i class="fas fa-user orange-icon"></i>&nbsp; Added by {{ tradition.created_by.capitalize() }}
                                </h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--Card reveal-->
                <div class="card-reveal">
                    <span class="card-title">{{ tradition.tradition_name[0]|upper}}{{tradition.tradition_name[1:] }}
                        <i class="fas fa-times right">
                            <span class="sr-only">Close</span>
                        </i>
                    </span>
                    <p class="card-description">{{ tradition.tradition_description }}</p>
                </div>
            </div>
            <!-- Modal for delete confirmation -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Delete tradition</h4>
                    <p>Are you sure you want to delete the {{ tradition.tradition_name.capitalize() }} tradition?</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">No, cancel</a>
                    <a href="{{ url_for('delete_tradition', tradition_id=tradition._id) }}"
                        class="modal-close waves-effect waves-green btn-flat">Yes, delete!</a>
                </div>
            </div>
{% endfor %}
{% else %}
        <div class="row">
        <div class="col s12 center-align">
            <h2>We don't have any traditions for that search yet, why not add your&nbsp;own?</h2>
            <a href="{{ url_for('add_tradition') }}" class="maroon-button btn-small">
                <i class="fas fa-plus-circle left"></i> Add tradition
            </a>
        </div>
        </div>
    {% endif %}
            {% endblock %}
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
<footer>
    <div class="col s12 footer center-align"><h4>&#169 Jade C</h4></div>
</footer>
</html>