{% extends "base.html" %}
{% block content %}

<div class="row form-row">
    <h2>Edit tradition</h2>
    <!--Form-->
    <form class="col s12" method="POST" action="{{ url_for('edit_tradition', tradition_id=tradition._id) }}">
    <!--Tradition name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-heading prefix maroon"></i>
                <input id="tradition_name" name="tradition_name" minlength="3" maxlength="50" type="text" class="validate" value="{{ tradition.tradition_name }}"required>
                <label for="tradition_name">Give your tradition a name</label>
            </div>
        </div>
    <!--Category-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-stream prefix maroon"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    {% for category in categories %}
                        {% if category.category_name == tradition.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
    <!--Country-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-globe-africa prefix maroon"></i>
                <input type="text" id="country" name="country" class="autocomplete validate" value="{{ tradition.country }}" required>
                <label for="country">Choose your country</label>
            </div>
    <!--Keywords-->
            <div class="input-field col s12">
                <i class="fas fa-list prefix maroon"></i>
                <input id="keywords" name="keywords" minlength="3" maxlength="100" type="text" class="validate" value="{{ tradition.keywords }}" required>
                <label for="keywords">Add keywords, separated by commas</label>
            </div>
        </div>
    <!--Description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-comment-dots prefix maroon"></i>
                <textarea id="tradition_description" name="tradition_description" minlength="10" maxlength="300" class="materialize-textarea validate" required>{{- tradition.tradition_description -}}</textarea>
                <label for="tradition_description">Description</label>
            </div>
        </div>
    <!--Upload image-->
    <!--
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix maroon"></i>
                <textarea id="file-upload" class="materialize-textarea"></textarea>
                <label for="file-upload">Upload an image here</label>
            </div>
        </div>-->
    <!--Submit button-->
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn-large maroon-button">Save your changes <i class="fas fa-cloud-upload-alt right"></i></button> 
            </div>
        </div>
    </form>
</div>

{% endblock %}