{% extends "base.html" %}
{% block content %}

<div class="row overlay-row">
    <div class="col s12">
        <h2>Browse & share</h2>
        <p class="white-text">This is a place to share our traditions; whether they are cultural or unique traditions
            practised only among your friends or family. Share yours, browse others and, if you find a tradition someone
            else has added that you do too, click the <i class="fas fa-heart"></i> </p>
    </div>
    <div class="row accordion-row">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="fas fa-stream prefix maroon"></i>
                    <p>Search by keyword</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search') }}" method="post">
                            <div class="col s12 m8">
                                <input type="text" id="keywords" name="keywords" placeholder="Keywords" minlength="3">
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-globe-africa prefix maroon"></i>
                    <p>Search by country</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search_country') }}" method="post">
                            <div class="col s12 m8">
                                <select id="country" name="country" class="validate" required>
                                    <option value="" disabled selected>Select country</option>
                                    {% for tradition in traditions %}
                                    <option value="{{ tradition.country_name }}">{{ tradition.country_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-folder-open prefix maroon"></i>
                    <p>Search by category</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search_category') }}" method="post">
                            <div class="col s12 m8">
                                <select id="category" name="category" class="validate" required>
                                    <option value="" disabled selected>Select category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-users prefix maroon"></i>
                    <p>Search by group</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search_group') }}" method="post">
                            <div class="col s12 m8">
                                <select id="group" name="group" class="validate" required>
                                    <option value="" disabled selected>Select group</option>
                                    {% for group in groups %}
                                    <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col s12 add-trad-button-col center">
            <a href="{{ url_for('get_traditions') }}" class="orange-button btn-small">Reset</a>
        </div>
    </div>
    <div class="col s12">
        <p style="color: white"></p>
    </div>
    <!--Search results-->
    <div class="row">
        {% if traditions|length > 0 %}
        <div class="col s12">
            <h2>Traditions</h2>
        </div>
        <div class="row">
            <!--Tradition cards-->
            {% for tradition in traditions %}
            <div class="card col s12 trad-card">
                <div class="row card-row">
                    <div class="col s12 m4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="" src="{{ tradition.trad_image }}" alt="{{ tradition.tradition_name }}">
                        </div>
                    </div>
                    <div class="col s12 m8">
                        <div class="card-content">
                            <div class="col s12">
                                <h3>{{ tradition.tradition_name.capitalize() }}
                                </h3>
                            </div>
                            <div class="col s12 m4">
                                <h4 class="card-details"><i
                                        class="fas fa-globe-africa prefix maroon card-icon"></i>{{ tradition.country_name.capitalize() }}
                                </h4>
                            </div>
                            <div class="col s12 m4">
                                <h4 class="card-details">
                                    <i
                                        class="fas fa-folder-open prefix maroon card-icon"></i>{{ tradition.category_name.capitalize() }}
                                </h4>
                            </div>
                            <div class="col s12 m4">
                                <h4 class="card-details">
                                    <i
                                        class="fas fa-users prefix maroon card-icon"></i>{{ tradition.group_name.capitalize() }}
                                </h4>
                            </div>
                            <div class="row card-actions">
                                <div class="col s12 m4">
                                    <p><button class="card-details btn-small maroon-button activator">Read more</button>
                                    </p>
                                </div>
                                <!--Edit and delete buttons, if tradition belongs to user-->
                                {% if session.user|lower == tradition.created_by|lower %}
                                <div class="row card-ud-actions">
                                    <div class="col s12 m4">
                                        <a href="{{ url_for('edit_tradition', tradition_id=tradition._id) }}"
                                            class="waves-effect btn-small maroon-button"><i
                                                class="fas fa-pencil-alt right"></i>Edit</a>
                                    </div>
                                    <div class="col s12 m4">
                                        <a href="#modal1"
                                            class="waves-effect btn-small maroon-button right modal-trigger"><i
                                                class="fas fa-trash-alt right"></i>Delete</a>
                                    </div>
                                </div>
                                {% else %}
                                <!--If tradition does not belong to user-->
                                <div class="col s12 m6">
                                    <h4 class="left">Posted by {{ tradition.created_by.capitalize() }}
                                        <i class="fas fa-user right"></i>
                                    </h4>
                                </div>
                                <!--Like button-->
                                <div class="col s12 m2">
                                    <p><a class="card-details btn-small maroon-button right" href="#"><i
                                                class="fas fa-heart"></i></a>
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card reveal-->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Description
                        <i class="fas fa-times right">
                            <span class="sr-only">Close</span>
                        </i>
                    </span>
                    <p>{{ tradition.tradition_description.capitalize() }}</p>
                </div>
            </div>
        </div>
        <!-- Modal for delete confirmation -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Delete tradition</h4>
                <p>Are you sure you want to delete the {{ tradition.tradition_name.capitalize() }} tradition?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No, cancel</a>
                <a href="{{ url_for('delete_tradition', tradition_id=tradition._id) }}"
                    class="modal-close waves-effect waves-green btn-flat">Yes, delete!</a>
            </div>
        </div>
        {% endfor %}
        <!--If no search results-->
        {% else %}
        <div class="col s12">
            <h2>We don't have any traditions for that search yet, why not add your own?</h2>
            <a href="/add_tradition.html" class="maroon-button btn-small">
                <i class="fas fa-plus-circle left"></i> Add tradition
            </a>
        </div>
    </div>
    {% endif %}
    <!--
<div>
    <h2>Newest additions to our traditions</h2>
</div>
-->
    {% endblock %}