{% extends "base.html" %}
{% block content %}

    <!--Intro section-->
    <div class="row">
        <div class="col s12 l8">
            <div class="row">
        <div class="col s12">
            <h2>Browse & share</h2>
            <p class="white-text subtitle">What traditions do you share with other people and what traditions are unique to your family, friends or other group? Browse traditions from other countries and groups and add your own.</p>
        </div>
        </div>
    <!--Search accordions-->
    <div class="row">
    <div class="col s12">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="fas fa-stream prefix orange-icon"></i>
                    <p>Search by keyword</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search') }}" method="post">
                            <div class="col s12 m8">
                                <input type="text" id="keywords" name="keywords" placeholder="Keywords" minlength="3"
                                    required>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-globe-africa prefix orange-icon"></i>
                    <p>Search by country</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search_country') }}" method="post">
                            <div class="col s12 m8">
                                <select id="country" name="country" class="validate" required>
                                    <option value="" disabled selected>Select country</option>
                                    {% for country in countries_list %}
                                    <option value="{{ country }}">{{ country }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-folder-open prefix orange-icon"></i>
                    <p>Search by category</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search_category') }}" method="post">
                            <div class="col s12 m8">
                                <select id="category" name="category" class="validate" required>
                                    <option value="" disabled selected>Select category</option>
                                    {% for category in categories_list %}
                                    <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-users prefix orange-icon"></i>
                    <p>Search by group</p>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <form action="{{ url_for('search_group') }}" method="post">
                            <div class="col s12 m8">
                                <select id="group" name="group" class="validate" required>
                                    <option value="" disabled selected>Select group</option>
                                    {% for group in groups_list %}
                                    <option value="{{ group }}">{{ group }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 m4 right">
                                <button type="submit" class="maroon-button btn-small right">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--Reset button-->
        <div class="col s12 add-trad-button-col center">
            <a href="{{ url_for('get_traditions') }}" class="maroon-button btn-small">Reset</a>
        </div>
        </div>
            </div>
            <div class="col s12 l4 feature-image"><img src="/static/images/photo-for-traditions.png" class="right" alt=""></div>
    </div>
{% endblock %}
