{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m6 offset-m3">
        <h2 class="center-align">
            {{ username }}'s profile
        </h2>
    </div>
</div>
<div class="row">
    <h2>Your traditions</h2>
    <!--Tradition cards-->
    {% for tradition in traditions %}
    {% if session.user|lower == tradition.created_by|lower %}
    <div class="card col s12 trad-card">
        <div class="row card-row">
            <div class="col s12 m4">
                <div class="card-image-col waves-effect waves-block waves-light">
                    <img class="card-img activator" src="{{ tradition.trad_image }}"
                        alt="{{ tradition.tradition_name }}">
                </div>
            </div>
            <div class="col s12 m8">
                <div class="card-content row">
                    <div class="col s12">
                        <h3>{{ tradition.tradition_name.capitalize() }}
                        </h3>
                    </div>
                    <div class="col s12 m4 card-actions">
                        <h4><i
                                class="fas fa-globe-africa prefix orange-icon card-icon"></i>{{ tradition.country_name.capitalize() }}
                        </h4>
                    </div>
                    <div class="col s12 m4 card-actions">
                        <h4>
                            <i
                                class="fas fa-folder-open prefix orange-icon card-icon"></i>{{ tradition.category_name.capitalize() }}
                        </h4>
                    </div>
                    <div class="col s12 m4 card-actions">
                        <h4>
                            <i
                                class="fas fa-users prefix orange-icon card-icon"></i>{{ tradition.group_name.capitalize() }}
                        </h4>
                    </div>
                    <div class="col s12 m4 card-actions read-more-link">
                        <p><a class="card-details activator">Read more ></a>
                        </p>
                    </div>
                    <!--Edit and delete buttons, if tradition belongs to user-->
                    {% if session.user|lower == tradition.created_by|lower %}
                    <div class="col s12 m4 card-actions">
                        <a href="{{ url_for('edit_tradition', tradition_id=tradition._id) }}"
                            class="waves-effect btn-small maroon-button"><i class="fas fa-pencil-alt right"></i>Edit</a>
                    </div>
                    <div class="col s12 m4 card-actions">
                        <a href="#modal1" class="waves-effect btn-small maroon-button left modal-trigger"><i
                                class="fas fa-trash-alt left"></i>Delete</a>
                    </div>
                    {% else %}
                    <!--If tradition does not belong to user-->
                    <div class="col s12 m8 card-actions">
                        <h4 class="left"><i class="fas fa-user orange-icon"></i>&nbsp; Added by
                            {{ tradition.created_by.capitalize() }}
                        </h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Card reveal-->
        <div class="card-reveal">
            <span class="card-title">{{ tradition.tradition_name.capitalize() }}
                <i class="fas fa-times right">
                    <span class="sr-only">Close</span>
                </i>
            </span>
            <p class="card-description">{{ tradition.tradition_description.capitalize() }}</p>
        </div>
    </div>
    <!-- Modal for delete confirmation -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Delete tradition</h4>
            <p>Are you sure you want to delete the {{ tradition.tradition_name.capitalize() }} tradition?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No, cancel</a>
            <a href="{{ url_for('delete_tradition', tradition_id=tradition._id) }}"
                class="modal-close waves-effect waves-green btn-flat">Yes, delete!</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}